html, body
{
    margin: 0;
}
body
{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px)
{
    .botonesCont
    {
        position: fixed;
        width: 50px;
        height: 125px;
        top: calc(50% - 63px);
        left: 64px;
        z-index: 4;
    }
    .botonesCont button
    {
        width: 50px;
        height: 50px;
        margin-bottom: 25px;
        border: none;
        border-radius: 100%;
        background: #000;
        cursor: pointer;
    }
    .contenedor1
    {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #fff;
    }
    .cabecera
    {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background: #fff;
        display: flex;
        z-index: 4;
        padding: 50px 65px;
        box-sizing: border-box;
    }
    .cabeceraArriba
    {
        width: inherit;
        text-align: left;
        box-sizing: border-box;
    }
    .cabeceraArriba a
    {
        font-size: 36px;
        color: #000;
        text-decoration: none;
    }
    .cabeceraAbajo
    {
        width: 100%;
        text-align: right;
    }
    .cabeceraAbajo a
    {
        text-decoration: none;
    }
    .cabeceraAbajo a img
    {
        width: 40px;
        height: 40px;
        margin-right: 0;
        margin-left: 20px;
    }
    .contenido1
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 100px 0 16.8%;
        box-sizing: border-box;
    }
    .contenidoArriba
    {
        width: 30.8%;
        text-align: center;
    }
    .contenidoArriba img
    {
        width: 100%;
    }
    .contenidoAbajo
    {
        width: 50%;
        text-align: left;
    }
    .contenidoAbajo h1
    {
        font-size: 24px;
    }
    .contenidoAbajo p
    {
        font-size: 20px;
        padding: 0;
        line-height: 1.5;
    }
    .contenidoPie
    {
        position: fixed;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
    }
    .contenidoPieArriba
    {
        display: none;

    }
    .contenidoPieArriba button
    {
        display: none;
    }
    .panelNegro
    {
        width: 100%;
        height: 100px;
        background: #000;
    }

    .contenido2
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 100px 0 16.8%;
        box-sizing: border-box;
    }
    .contenidoArriba2
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba2 img
    {
        width: 35%;
    }
    .contenidoAbajo2
    {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .contenidoAbajo2 p
    {
        font-size: 18px;
        text-align: left;
    }
    .formCont
    {
        width: 87.3%;
    }
    .formCont form
    {
        width: 100%;
    }
    .formCont form input
    {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #000;
        margin-bottom: 15px;
    }
    .formCont form button
    {
        width: 100%;
        height: 35px;
        background: #000;
        color: #fff;
        border-radius: 35px;
        border: none;
        margin-top: 15px;
    }

}

@media (max-width: 575px)
{
    .contenedor1
    {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #fff;
    }
    .cabecera
    {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 4;
        display: unset;
        padding: 0;
    }
    .cabeceraArriba
    {
        width: 100%;
        text-align: center;
        padding: 24px 0;
        box-sizing: border-box;
    }
    .cabeceraArriba a
    {
        font-size: 20px;
        color: #000;
        text-decoration: none;
    }
    .cabeceraAbajo
    {
        width: 100%;
        text-align: center;
    }
    .cabeceraAbajo a
    {
        text-decoration: none;
    }
    .cabeceraAbajo a img
    {
        width: 40px;
        height: 40px;
        margin-right: 18px;
    }
    .contenido1
    {
        width: auto;
        height: auto;
        display: inherit;
        padding: 0;
        box-sizing: border-box;
    }
    .contenidoArriba
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba img
    {
        width: 65%;
    }
    .contenidoAbajo
    {
        width: 100%;
        text-align: center;
    }
    .contenidoAbajo h1
    {
        font-size: 24px;
    }
    .contenidoAbajo p
    {
        font-size: 18px;
        padding: 0 50px;
        line-height: 1.5;
    }
    .contenidoPie
    {
        position: fixed;
        width: 100%;
        height: 161px;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenidoPieArriba
    {
        width: 100%;
        height: 80px;
        text-align: center;

    }
    .contenidoPieArriba button
    {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        padding: 0;
    }
    .contenidoPieArriba button img
    {
        width: 50px;
        height: 50px;
    }
    .panelNegro
    {
        width: 100%;
        height: 81px;
        background: #000;
    }

    .contenedor2
    {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #fff;
    }
    .contenidoArriba2
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba2 img
    {
        width: 35%;
    }
    .contenidoAbajo2
    {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .contenidoAbajo2 p
    {
        font-size: 18px;
    }
    .formCont
    {
        width: 87.3%;
        margin: 0 auto;
    }
    .formCont form
    {
        width: 100%;
    }
    .formCont form input
    {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #000;
        margin-bottom: 15px;
    }
    .formCont form button
    {
        width: 100%;
        height: 35px;
        background: #000;
        color: #fff;
        border-radius: 35px;
        border: none;
        margin-top: 15px;
    }

}
