/* @font-face
{
    font-family: 'Helvetica';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face
{
    font-family: 'Helvetica';
    src: url('../fonts/Poppins-Regular.ttf');
} */

html, body
{
    margin: 0;
}
body
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ============== ESTILOS PARA ESCRITORIO ============ */
@media (min-width: 576px)
{
    .botonesCont
    {
        position: fixed;
        width: 2.89%;
        /*height: 125px;*/
        top: calc(50% - 63px);
        left: 3.7%;
        z-index: 4;
    }
    .botonesCont button
    {
        width: 100%;
        margin-bottom: 25px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
    }
    .btnArriba
    {
        background: url("../img/arrowU.png") no-repeat center;
        background-size: 56% auto;
        background-color: #e5e5e5;
    }
    .btnAbajo
    {
        background: url("../img/arrowD.png") no-repeat center;
        background-size: 56% auto;
        background-color: #000;
    }

    .contenedor1
    {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #fff;
        display: flex;
        align-items: center;
    }
    .cabecera
    {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background: #fff;
        display: flex;
        z-index: 4;
        padding: 50px 3.7% 0 3.7%;
        box-sizing: border-box;
    }
    .cabeceraArriba
    {
        width: inherit;
        text-align: left;
        box-sizing: border-box;
    }
    .cabeceraArriba a
    {
        font-size: 1.74vw;
        color: #000;
        text-decoration: none;
        font-family: Helvetica;
        letter-spacing: 1.5px;
    }
    .cabeceraAbajo
    {
        width: 100%;
        text-align: right;
    }
    .cabeceraAbajo a
    {
        text-decoration: none;
    }
    .cabeceraAbajo a img
    {
        margin-right: 0;
        margin-left: 20px;
    }
    .contenido1
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .contenidoArriba
    {
        width: 30.8%;
        text-align: center;
    }
    .contenidoArriba img
    {
        position: absolute;
        width: 17.88%;
        right: 15%;
    }
    .contenidoAbajo
    {
        width: max-content;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 17.3%;
        box-sizing: border-box;
    }
    .contenidoAbajo h1
    {
        font-size: 2.34vw;
        font-family: Helvetica;
    }
    .contenidoAbajo p
    {
        font-size: 1.24vw;
        padding: 0;
        line-height: 1.5;
        font-family: Helvetica;
    }
    .contenidoPie
    {
        position: fixed;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
    }
    .contenidoPieArriba
    {
        display: none;

    }
    .contenidoPieArriba button
    {
        display: none;
    }
    .panelNegro
    {
        width: 100%;
        height: 60px;
        background: #000;
    }
    .contenedor2
    {
        position: absolute;
        background: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .contenido2
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 100px 0 11.97%;
        box-sizing: border-box;
    }
    .contenidoArriba2
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba2 img
    {
        position: absolute;
        width: 27.08%;
        right: 7.92%;
    }
    .contenidoAbajo2
    {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .contenidoAbajo2 p
    {
        font-size: 1.24vw;
        text-align: justify;
        font-family: Helvetica;
        line-height: 1.5;
    }
    .contenido3
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 16.8% 0 16.8%;
        box-sizing: border-box;
    }
    .contenidoAbajo3
    {
        width: 100%;
        text-align: center;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .formCont
    {
        width: 65%;
    }
    .formCont form
    {
        width: 100%;
    }
    .formCont form input
    {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        border: 1px solid #000;
        margin-bottom: 15px;
    }
    .formCont form button
    {
        width: 100%;
        height: 35px;
        background: #000;
        color: #fff;
        border-radius: 35px;
        border: none;
        margin-top: 15px;
    }
    .correoEnviadoCont
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .correoEnviadoInner
    {
        position: absolute;
        width: 50%;
        height: auto;
        background: #fff;
        border-radius: 5px;
        padding: 50px 20px;
        box-sizing: border-box;
    }
    .correoEnviadoInner p
    {
        font-size: 18px;
        font-family: Helvetica;
        text-align: center;
    }
    .cerrarCorreoEnviado
    {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 15px;
        right: 15px;
        border: none;
        background: url("../img/close.png") no-repeat center;
        background-size: 20px auto;
        cursor: pointer;
    }

}

@media (max-width: 575px)
{
    .correoEnviadoCont
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }
    .correoEnviadoInner
    {
        position: absolute;
        width: 90%;
        height: auto;
        background: #fff;
        border-radius: 5px;
        padding: 25px 15px;
        box-sizing: border-box;
    }
    .correoEnviadoInner p
    {
        font-size: 16px;
        font-family: Helvetica;
        text-align: center;
    }
    .cerrarCorreoEnviado
    {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 5px;
        right: 5px;
        border: none;
        background: url("../img/close.png") no-repeat center;
        background-size: 20px auto;
    }
    .botonesCont
    {
        display: none;
    }
    .contenedor1
    {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #fff;
        display: flex;
        align-items: center;

        /* padding-top: 118px;
        box-sizing: border-box;
        background: url("../img/pelonDeRosa2.png") no-repeat -130px center;
        background-size: 100% auto;
        background-color: #fff; */
    }

    .cabecera
    {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 4;
        display: unset;
        padding: 0;
    }
    .cabeceraArriba
    {
        width: 100%;
        text-align: center;
        padding: 18px 0 18px 0;
        box-sizing: border-box;
    }
    .cabeceraArriba a
    {
        font-size: 20px;
        color: #000;
        text-decoration: none;
        font-family: Helvetica;
        margin: 0;
    }
    .cabeceraAbajo
    {
        width: 100%;
        text-align: center;
    }
    .cabeceraAbajo a
    {
        text-decoration: none;
    }
    .cabeceraAbajo a img
    {
        width: 40px;
        height: 40px;
        margin-right: 18px;
    }
    .logoSpotify img
    {
        margin: 0 !important;
    }

    .contenido1
    {
        width: auto;
        height: auto;
        padding: 0;
        transform: translateY(-30px);
        box-sizing: border-box;
    }
    .contenidoArriba
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba img
    {
        width: 34.34%;
    }
    .contenidoAbajo
    {
        width: 100%;
        text-align: center;
    }
    .contenidoAbajo h1
    {
        font-size: 24px;
        font-family: Helvetica;
    }
    .contenidoAbajo p
    {
        font-size: 16px;
        padding: 0 7.3%;
        line-height: 1.5;
        font-family: Helvetica;
        box-sizing: border-box;
    }
    .contenidoPie
    {
        position: fixed;
        width: 100%;
        height: 126px;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenidoPieArriba
    {
        width: 100%;
        height: 80px;
        text-align: center;

    }
    .contenidoPieArriba button
    {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        padding: 0;
    }
    .contenidoPieArriba button img
    {
        width: 50px;
        height: 50px;
    }
    .panelNegro
    {
        width: 100%;
        height: 61px;
        background: #000;
    }

    .contenedor2
    {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        /* background: url("../img/ilustracion2_2.png") no-repeat 80px center;
        background-size: 100% auto; */
        background-color: #fff;
        display: flex;
        align-items: center;
    }
    .contenido2
    {
        padding-top: 0;
        transform: translateY(-30px);
    }
    .contenidoArriba2
    {
        width: 100%;
        text-align: center;
    }
    .contenidoArriba2 img
    {
        width: 45%;
    }
    .contenidoAbajo2
    {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        box-sizing: border-box;
    }
    .contenidoAbajo2 p
    {
        font-size: 14px;
        font-family: Helvetica;
        padding: 0 8%;
        text-align: justify;
        box-sizing: border-box;
    }
    .formCont
    {
        width: 87.3%;
        margin: 0 auto;
    }
    .formCont form
    {
        width: 100%;
    }
    .formCont form input
    {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #000;
        margin-bottom: 10px;
    }
    .formCont form button
    {
        width: 100%;
        height: 32px;
        background: #000;
        color: #fff;
        border-radius: 35px;
        border: none;
        margin-top: 10px;
    }
    .pp-tableCell
    {
        vertical-align: top !important;
    }
    .brDesk
    {
        display: none;
    }

}
