<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Correos Bonitos</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css">

    </head>
    <body>



            <div class="correoEnviadoCont">
                <div class="correoEnviadoInner">
                    <p>Muchas gracias.<br>Pronto me pondré en contacto contigo</p>
                    <button type="button" class="cerrarCorreoEnviado"></button>
                </div>
            </div>

            <div class="contenedor1 section">

                <div class="contenido1">
                    <div class="contenidoArriba">
                        <img src="img/pelonDeRosa.png" alt="">
                    </div>
                    <div class="contenidoAbajo">
                        <h1>CORREOS BONITOS</h1>

                        <p>
                          Soy <b>Pedro Campos</b>. Escribo frases, poemas y reflexiones para volver<br>a lo simple, ir más despacio y respirar el presente.<br><br class="brDesk">
                          ¿Te gustaría recibir mis textos por correo?<br>
                          Son <b>cortos, sencillos y bonitos.</b>

                        </p>

                        <div class="formCont">
                            <div class="ff-627c36b61e8046b220254cc1" data-ff-el="root" data-ff-version="3" data-ff-type="inline" data-ff-name="inlineNoImage">
                                <!--tpl {% block config %} tpl-->
                                <div data-ff-el="config" data-ff-config="eyJ0cmlnZ2VyIjp7Im1vZGUiOiJpbW1lZGlhdGVseSIsInZhbHVlIjowfSwib25TdWNjZXNzIjp7Im1vZGUiOiJtZXNzYWdlIiwibWVzc2FnZSI6IiIsInJlZGlyZWN0VXJsIjoiIn0sImNvaSI6ZmFsc2UsInNob3dGb3JSZXR1cm5WaXNpdG9ycyI6dHJ1ZSwibm90aWZpY2F0aW9uIjpmYWxzZX0=" style="display: none"></div>
                                <!--tpl {% endblock %} tpl-->
                                <div class="ff-627c36b61e8046b220254cc1__container">
                                  <div class="ff-627c36b61e8046b220254cc1__wrapper">
                                    <form id="formContacto" class="ff-627c36b61e8046b220254cc1__form" action="https://form.flodesk.com/forms/627c36b61e8046b220254cc1/submit" method="post" data-ff-el="form">

                                      <div class="ff-627c36b61e8046b220254cc1__content fd-form-content" data-ff-el="content">
                                        <div class="ff-627c36b61e8046b220254cc1__fields" data-ff-el="fields">
                                          <!--tpl {% block fields %} tpl-->

                                          <div class="ff-627c36b61e8046b220254cc1__field fd-form-group">
                                            <input class="ff-627c36b61e8046b220254cc1__control fd-form-control" type="text" maxlength="255" name="email" placeholder="Tu correo" data-ff-tab="email::firstName" required />
                                          </div>


                                          <div class="ff-627c36b61e8046b220254cc1__field fd-form-group">
                                            <input class="ff-627c36b61e8046b220254cc1__control fd-form-control" type="text" maxlength="255" name="firstName" placeholder="Tu primer nombre (o tu apodo favorito)" data-ff-tab="firstName:email:submit" />

                                          </div>

                                          <input type="text" maxlength="255" name="confirm_email_address" style="display: none" />
                                          <!--tpl {% endblock %} tpl-->
                                        </div>

                                        <div class="ff-627c36b61e8046b220254cc1__footer" data-ff-el="footer">
                                          <button type="submit" class="ff-627c36b61e8046b220254cc1__button fd-btn" data-ff-el="submit" data-ff-tab="submit">
                                            <span>Listo</span>
                                          </button>
                                        </div>
                                      </div>
                                      <div class="ff-627c36b61e8046b220254cc1__error fd-form-error" data-ff-el="error"></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <script>
                                (function(w, d, t, h, s, n) {
                                  w.FlodeskObject = n;
                                  var fn = function() {
                                    (w[n].q = w[n].q || []).push(arguments);
                                  };
                                  w[n] = w[n] || fn;
                                  var f = d.getElementsByTagName(t)[0];
                                  var v = '?v=' + Math.floor(new Date().getTime() / (120 * 1000)) * 60;
                                  var sm = d.createElement(t);
                                  sm.async = true;
                                  sm.type = 'module';
                                  sm.src = h + s + '.mjs' + v;
                                  f.parentNode.insertBefore(sm, f);
                                  var sn = d.createElement(t);
                                  sn.async = true;
                                  sn.noModule = true;
                                  sn.src = h + s + '.js' + v;
                                  f.parentNode.insertBefore(sn, f);
                                })(window, document, 'script', 'https://assets.flodesk.com', '/universal', 'fd');
                              </script>
                              <script>
                                window.fd('form:handle', {
                                  formId: '627c36b61e8046b220254cc1',
                                  rootEl: '.ff-627c36b61e8046b220254cc1',
                                });
                              </script>
                        </div>

                    </div>
                </div>

                <div class="contenidoPie">
                    <div class="contenidoPieArriba">
                        <!-- <button type="button" name="button" class="btnArribaMovil">
                            <img src="img/flecha.png" alt="" >
                        </button> -->
                    </div>
                    <div class="panelNegro">

                    </div>
                </div>


            </div>

            <div class="contenedor2 section">

                <div class="contenido2">
                    <div class="contenidoArriba2">
                        <img src="img/ilustracion2.png" alt="">
                    </div>
                    <div class="contenidoAbajo2">
                        <p>
                          Correos Bonitos nace como una solución personal a mi hartazgo de las redes sociales y al tremendo cansancio de correr detrás de los algoritmos.<br><br>
                          Me gusta escribir textos que me ayuden a encontrar calma en medio del caos, pero publicarlos en redes sociales me causa un poco de ansiedad. Prefiero enviarlos por correo. <br> <br> A través de <b>Correos Bonitos</b> busco compartir mis escritos contigo sin necesidad de que ninguno de los dos tengamos que usar Instagram. <br>
                        </p>
                        <p style="text-align: center;">¡Nos leemos pronto!<br><b> Pedro</b>.</p>

                    </div>
                </div>

                <div class="contenidoPie">
                    <div class="contenidoPieArriba">
                        <!-- <button type="button" name="button" class="btnAbajoMovil">
                            <img src="img/flecha2.png" alt="">
                        </button> -->
                    </div>
                    <div class="panelNegro">

                    </div>
                </div>

            </div>


        <script src="js/jquery.js" charset="utf-8"></script>
        <script src="js/jquery.pagepiling.js" charset="utf-8"></script>
        <script src="js/index.js" charset="utf-8"></script>

    </body>
</html>
